/*--------general--------*/
:root {
    --col-main-light-blue: #2d84b7;
    --col-main-darker-blue: #1f73a3;
    --col-main-dark-blue: #102937;
    --col-main-darkest-blue: #206996;
    --col-main-alt: #B7602D;
    --col-main-alt-hover: #a34f1f;
    --col-error-red: #c90d0d;
    --col-confirm-green: #269b35;
    --col-main-navy: #11131a;
    --col-main-navy-dark: #0e1016;
    --col-white: #eeecec;
    --col-off-white: #d3d2d2;
    --col-light-grey: #9e9fa0;
    --col-dark-grey: #333;
    --bg-dark-mode-darker:#1c1d22;
    --bg-dark-mode-main: #282b30;
    --bg-dark-mode-lighter: #36393e;
    --bg-dark-mode-lightest: #4b5055;
  }
  
  .fade-in {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  @keyframes pulsing {
    from {
      color: #eeecec;
    }
  
    to {
      color: #c90d0d;
    }
  }
  
  .pulsing {
    animation: pulsing 1s ease-in-out forwards;
  }
  
  .fade-in {
    opacity: 0;
    animation: fadeIn 0.2s ease-in-out forwards;
  }

  body {
    background-color: var(--bg-dark-mode-main);
  }
  
  /*--------end of general--------*/

/*--------header--------*/

.container.flex.head {
  display: flex;
  justify-content: space-between;
  line-height: 65px;
}

.fakebook {
  width: 33%;
}

.fakebook h2 {
  color: var(--col-main-light-blue);
  text-transform: capitalize;
  font-size: 25px;
  line-height: 70px;
}

header {
  background-color:var(--bg-dark-mode-darker);
  min-width: 100%;
  display: flex;
  overflow: hidden;
  height: 70px;
  top: 0;
  z-index: 99;
}

nav.head {
  color: var(--col-white);
  font-size: 0px;
  display: flex;
}

nav.head a {
  text-decoration: none;
  color: var(--col-white);
  transition: all 0.3s ease-in-out;
  display: inline-block;
  padding: 0 15px;
  font-size: 14px;
}

nav.head a:hover {
  color: var(--col-off-white);
}

nav.head {
  width: 100%;
  text-align: right;
  justify-content: space-between;
}

nav.head ul li  {
  display: inline;
  text-transform: capitalize;
}

.profile-icon {
  display: flex;
  flex-direction: row-reverse;
  width: 33%
}

.profile {
  margin-top: 15px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/*--------end of header--------*/

/*----user input----*/

.user-input {
  margin-bottom: 50px;
}
.input-area {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  width: 100%;
}

form {
  background-color: var(--bg-dark-mode-lighter);
  padding: 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 50%;
}

textarea {
  resize: none;
  background-color: var(--bg-dark-mode-lighter);
  color: var(--col-white);
}

.post-area {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  align-items: center;
}

.post {
  background-color: var(--col-main-light-blue);
  color: var(--col-white);
  padding: 5px 10px;
  width: 125px;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
}

.post:hover {
  background-color: var(--col-main-darker-blue);
  transition: 0.3s ease-in-out;
}

input[type="file"] {
  display: none;
}

.custom-file-input {
  cursor: pointer;
  color: var(--col-white);
  border: none;
}

 i {
  margin-left: 13px;
}

.custom-file-input-label {
  padding: 5px 10px;
  width: 125px;
  cursor: pointer;
  background-color: var(--col-main-alt);
  color: var(--col-white);
  border-radius: 10px;
  transition: 0.3s ease-in-out;
}

.custom-file-input-label:hover {
  background-color: var(--col-main-alt-hover);
  transition: 0.3s ease-in-out;
}
/*----end of user input----*/
/*----posts----*/
.post-container {
  width: min(100% - 40px, 1280px);
  margin-inline: auto;
  display: flex;
  justify-content: center;
}

.user-post {
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: var(--col-white);
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 50px;
}

.un-icon {
  display: flex;
  flex-direction: row;
}

.un-icon img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.un-icon p {
  line-height: 40px;
  margin-left: 15px;
}

.post-date {
  line-height: 40px;
}

.post-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--col-white);
}

.post-content {
  margin-top: 20px;
}

.post-image {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  max-height: auto;
}
/*----end of posts----*/



